<div [@flyInOut]>
  <h1>{{ user$.name }}</h1>

  <ul>
    <li><strong>Username:</strong> {{ user$.username }}</li>
    <li><strong>Email:</strong> {{ user$.email }}</li>
    <li><strong>Phone:</strong> {{ user$.phone }}</li>
  </ul>
  <h1>Albums:</h1>
  <ul>
    <li *ngFor="let album of albums$">{{ album.title }}</li>
  </ul>
  <h1>Posts</h1>
  <ul>
    <li *ngFor="let post of posts$">
      <a routerLink="/posts/{{post.id}}">{{ post.title }}</a>
      <p>{{ post.body }}</p>
    </li>
  </ul>
  <h1>Todos</h1>
  <ul>
    <li *ngFor="let todo of todos$">
      <h3>{{ todo.title }}</h3>
      <span *ngIf="todo.completed"><i class="material-icons">check_circle_outline</i></span>
    </li>
  </ul>
</div>